aside {
    width: 25%;
    background-color: #210535;
}

.container-cabecera-dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid #F5D5E0 10px;
    padding: 40px;
}

.body-dashboard{
    background-color: #430D4B;
}

.section-one-dashboard{
    background-color: #430D4B;
    width: 100%;
}

.section-two-dashboard{
    background-color: #7B337D;
    width: 100%;
}

.temp{
    display: flex;
}

.prueba{
    display: block;
}

.h1-dashboard{
    text-align: start;
}

.section-mini-one-dashboard{
    display: flex;
    align-items: center;
    background-color: green;
}

.container-btn-home-dashboard{
    background: yellow;
    
}

.container-menu-dashboard{
    margin: 30px 0;
}

.menu-section{
    display: flex;
    padding-left: 15%;
    margin: 15px 0;
}

.svg-icons{
    margin-right: 30px;
}

.link-dashboard{
    text-decoration: none;
    color: #C874B2;
}